// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/

#battleship {
	//-fx-background-color:#00ff00;
}

.button1 {
    -fx-color:#E5B50D;
}

.button1:hover {
    -fx-color:#FBCD2F;
}
.button1:pressed {
    -fx-color:#DE7500;
}

.button2 {
    -fx-color:#2C8FF2;
    -fx-border-color:#0014ED;
}

.button2:hover {
    -fx-color:#76B5F5;
}
.button2:pressed {
    -fx-color:#0A6ED1;
}

.button3 {
    -fx-color:#17AE04;
}

.button3:hover {
    -fx-color:#41FF00;
}
.button3:pressed {
    -fx-color:#098A09;
}


.gridpane {
    -fx-background-color:rgba(0, 0, 0, 0.0);
}
.battleship{
    -fx-background-image: url("../Bilder/abgenutzte-holzplanken-textur-001.jpg");
    -fx-background-size: stretch;
        -fx-background-repeat: no-repeat;
}

.splashscreen_background {
    -fx-background-image: url("../Bilder/menu.jpg");
    -fx-background-size: stretch;
        -fx-background-repeat: no-repeat;
}
.battleshipgame{
-fx-background-image: url("../Bilder/play2.jpg");
-fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
.backgroundmenue{
-fx-background-image: url("../Bilder/menu.jpg");
-fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

.button_ship1{
    -fx-background-image: url("../Bilder/ship1_button.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
.button_ship2{
    -fx-background-image: url("../Bilder/ship2_BUTTON.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
.button_ship3{
    -fx-background-image: url("../Bilder/ship3_button.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
.battleshipedit{
    -fx-background-image: url("../Bilder/edit.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

.end{
       -fx-background-image: url("../Bilder/end.jpg");
       -fx-background-size: stretch;
       -fx-background-repeat: no-repeat;
 }

 .appearWin{
       -fx-background-image: url("../Bilder/win.png");
       -fx-background-size: stretch;
       -fx-background-repeat: no-repeat;
 }

  .appearLose{
        -fx-background-image: url("../Bilder/lose.png");
        -fx-background-size: stretch;
        -fx-background-repeat: no-repeat;
  }

  .appearLogoFH{
          -fx-background-image: url("../Bilder/credits_logo.png");
          -fx-background-size: stretch;
          -fx-background-repeat: no-repeat;
    }


 .connect{
          -fx-background-image: url("../Bilder/connect.jpg");
           -fx-background-size: stretch;
           -fx-background-repeat: no-repeat;
 }

 .credits{
           -fx-background-image: url("../Bilder/credits.jpg");
            -fx-background-size: stretch;
            -fx-background-repeat: no-repeat;
  }

  .highscore{
             -fx-background-image: url("../Bilder/highscore.jpg");
              -fx-background-size: stretch;
              -fx-background-repeat: no-repeat;
    }

  .replay{
             -fx-background-image: url("../Bilder/replay.jpg");
              -fx-background-size: stretch;
              -fx-background-repeat: no-repeat;
    }
.splash_logo{
    -fx-background-image: url("../Bilder/splash_logo.png");
    -fx-background-repeat: no-repeat;
}

.btc_newgame{
    -fx-color: #717d7e ;
}

.btc_newgame:hover{
    -fx-color:  #b3b6b7;

}
.btc_newgame:pressed{
    -fx-color: #212f3d;
}
.btc_highscore{
    -fx-color:  #717d7e;
}
.btc_highscore:hover{
    -fx-color:  #b3b6b7;
}
.btc_highscore:pressed{
    -fx-color: #212f3d;
}
.btc_credits{
    -fx-color:  #717d7e;
}
.btc_credits:hover{
    -fx-color:  #b3b6b7;
}
.bt_credits:pressed{
    -fx-color: #212f3d;
}

.btc_finish{
     -fx-color: #3498db;
 }
 .btc_finish:hover{
     -fx-color: #85c1e9;
 }
 .btc_finish:pressed{
     -fx-color: #2874a6;
}

.btc_ready{
    -fx-color:  #e67e22;
}
.btc_ready:hover{
     -fx-color:  #f0b27a;
}
.btc_ready:pressed{
    -fx-color: #ba4a00;
}